@-webkit-keyframes modal-toggle {
  from { margin-top: 100vh; }
  to { margin-top: 0; }
}

.contacts {
  .contact, .history-action {
    padding: 22px 12px;
    margin-bottom: 12px;
    transition-duration: 0.3s;
    border-top: 0.3px solid #dadada;
    display: flex;
    flex: auto;

    .body {
      flex: auto;
      b {
        font-weight: 300;
        margin-left: 12px;
      }
    }

    &:hover {
      background-color: #fdfdfd;
      -webkit-box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
    }

    .actions {
      .action {
        cursor: pointer;
        margin: 0 4px;
      }
    }
  }

  .info-pill {
    font-size: 9px;
    color: #efefef;
    padding: 6px 25px;
    border-radius: 16px;
    background-color: transparent;
    border: 2px solid transparent;
    transition-duration: 0.3s;
  }

  .big-info-pill {
    font-size: 15px;
    padding: 6px 25px;
    margin: 0 4px;
    border-bottom: 1px solid transparent;
  }

  .box {
    margin: 24px 0;
    flex: auto;
  }

  .modal {
    animation-name: modal-toggle;
    animation-duration: 0.3s;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    display: block;
    overflow-y: scroll;

    .modal-info-pills {
      flex: auto;
      margin: 0px 10px;
      display: inline-flex;
      align-items: baseline;
    }

    .history-contact-action {
      flex-flow: column;

      .action-container {
        display: flex;
      }
    }

    .modal-info-close {
      font-size: 24px;
      align-self: flex-start;
      cursor: pointer;
    }
  }
}
