.compose-element {
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #dadada;
  margin: 15px 0;
  border-radius: 5px;
  // border-top-left-radius: 15px;
  // border-top-right-radius: 15px;
  -webkit-box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
  .compose-body {
    display: flex;
    align-items: center;
  }

  .status {
    margin-right: 25px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid #eaeaea;
    background-color: #FFEF2A;
    display: inline-block;
  }
}
