.compose-element {
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #dadada;
  margin: 15px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 23px -11px rgba(0,0,0,0.75);
  .compose-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .compose-body {
    display: flex;
    align-items: center;
    flex: auto;
  }

  .actions {
    .toggle-action {
      margin-right: 7px;
    }
  }

  .card-name {
    display: flex;
    padding: 12px;
    flex-direction: row-reverse;
    input {
      margin-right: 12px;
    }
  }

  .details {
    display: flex;
    flex-direction: column;

    textarea {
      height: 340px;
    }

    textarea, select {
      width: 100%;
      display: block;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .status {
    margin-right: 25px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid #eaeaea;
    display: inline-block;
  }
}
