@-webkit-keyframes task-slide-up {
  from { margin-bottom: -250px; }
  to { margin-bottom: 0; }
}

.tasks-container {
  flex: 1;
  pointer-events: none;
  width: 98%;
  place-items: flex-end;
  justify-content: flex-end;
  display: flex;
  align-items: right;
  position: fixed;
  box-sizing: border-box;
  z-index: 100;
  right: 1%;
  left: 1%;
  bottom: 0;
}

.task {
  width: auto;
  pointer-events: all;
  color: #fff;
  background-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  flex-direction: column;
  transition-duration: 0.5s;
  -webkit-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.75);
  width: 60%;
  margin-right: 6px;
  margin-left: 6px;

  .task-bar {
    width: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 17px;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #6756A6, #BE83FD);
    flex: 1;
    display: flex;
    i, span {
      font-size: 18px;
      margin: 0 12px;
      cursor: pointer;
    }
  }

  .task-body {
    .container-message-info {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 24px;
      min-height: 40vh;

      .button-action {
        padding: 6px 12px;
        border: 2px solid #FF7A59;
        color: #FF7A59;
      }

      h5 {
        margin: 24px 0;
        text-align: center;
      }
    }

    animation-name: task-slide-up;
    animation-duration: 0.2s;
    padding: 14px;
    flex: 1;
    color: #0c0c0c;
    background-color: #fff;
    position: relative;
    .users-hint {
      position: absolute;
      background-color: rgba(103,86,166,0.8);
      color: #fff;
      z-index: 100;
      overflow-y: scroll;
      max-height: 300px;
      transition-duration: 0.4s;
      display: flex;
      flex-direction: column;
      .hint {
        display: flex;
        flex-direction: row;
        flex: 4;
        padding: 14px 22px;
        cursor: pointer;
        background-color: transparent;
        align-items: center;
        img {
          display: block;
          width: 34px;
          height: 34px;
          border: 1px solid transparent;
          border-radius: 17px;
          object-fit: cover;
          margin-right: 12px;
        }
        &:hover {
          background-color: rgb(103,86,166);
        }
      }
    }
  }
}

